/* Regole generali */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

/* Regole header */

header {
    background-color:#34a8ff;
    background-image: url(../img/pattern.png);
    background-size: 25%;
}

#logo {
    width: 10%;
    height: 10%;
    padding-top: 4%;
}

/* Regole footer */

footer {
    font-size: 14px;
    color: gray;
}

/* Regole main */

main {
    font-size: 14px;
}

#titolo {
    color: grey;
}

h1 {
    font-size: 40px;
    color: black;
}

span {
    color: cornflowerblue;
}

#data {
    font-size: 12px;
    color: grey;
}